.all {
    width: 100%;
    display: grid;
    grid: 110px 40px 449px 381px 364px 190px 80px / 100%;
    justify-items: center;
}

.header {
    width: 1000px;
}

.header_logo {
    width: 203px;
    height: 44px;
    float: left;
    margin-top: 36px;
}

.search {
    height: 28px;
    float: right;
    margin-top: 40px;
    position: relative;
}

.search img {
    z-index: 1;
}

.search a {
    float: left;
    font-size: 12px;
    line-height: 28px;
    background: url(../img/weixin.png) no-repeat;
    padding-left: 25px;
    padding-right: 20px;
    color: #666;
}

.search a:hover {
    color: rgb(204, 16, 15);
}

.search a:hover img {
    display: block;
}

.search img {
    position: absolute;
    left: -40px;
    display: none;
}

.search div {
    float: left;
}

.search input {
    width: 138px;
    height: 24px;
    line-height: 26px;
    font-size: 12px;
    border: 1px solid #ddd;
    padding-left: 10px;
}

.search input:focus {
    border: 1px solid #666;
    outline: none;
}

.search button {
    width: 28px;
    height: 28px;
    background: #85764b url(../img/fdj.png) no-repeat center;
    border: 0;
    float: right;
}

.nav_bc {
    width: 100%;
    height: 40px;
    background-color: #F5F2EB;
    display: flex;
    justify-content: center;
}

.nav {
    width: 1000px;

}

.nav ul {
    display: flex;
}

.nav_hov {
    width: 90px;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 40px;
    color: #666;
}

.nav ul li {
    position: relative;
}

.nav ul li ol {
    width: calc(1000px - 90px);
    display: none;
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

.nav ul li:nth-child(2) ol {
    width: calc(1000px - 90px);
}

.nav ul li:nth-child(3) ol {
    width: calc(1000px - 90px*2);
}

.nav ul li:nth-child(4) ol {
    width: calc(1000px - 90px*3);
}

.nav ul li:nth-child(5) ol {
    width: calc(1000px - 90px*4);
}

.nav ul li:nth-child(6) ol {
    width: calc(1000px - 90px*5);
}

.nav ul li:nth-child(7) ol {
    width: calc(1000px - 90px*6);
}

.nav ul li:nth-child(8) ol {
    width: calc(1000px - 90px*7);
}

.nav ul li:nth-child(9) ol {
    width: calc(1000px - 90px*8);
}

.nav ul li ol li a {
    width: 70px;
    height: 50px;
    display: block;
    line-height: 50px;
    text-align: center;
    padding: 0 17px;
    color: white;
}

.nav ul li:hover ol {
    display: block;
    display: flex;
}

.nav ul li ol li a:hover {
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    line-height: 50px;
}

.nav_hov:hover {
    background: linear-gradient(0, #940000, #D41011);
    color: white;
}

.footer_bc {
    width: 100%;
    background: #82754F;
}

.footer {
    height: 60px;
    padding-top: 20px;
    line-height: 20px;
    color: #fff;
    font-size: 12px;
    text-align: center;
}