/*样式初始化*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    /*outline （轮廓）是绘制于元素周围的一条线，位于边框边缘的外围，可起到突出元素的作用。*/
    font-size: 100%;
    /*inherit 关键字指定一个属性应从父元素继承它的值。*/
    font: inherit;
    /*baseline 默认。元素放置在父元素的基线上。*/
    vertical-align: baseline;
}

* {
    font-style: normal;
    font-weight: normal;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /*禁止链接高亮（苹果手机)*/
    -webkit-touch-callout: none;
    /*禁止链接长按弹出选项菜单*/
}

html {
    width: 100%;
    height: 100%;
}

body {
    font: 14px/1.5 "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
    width: 100%;
    height: 100%;
    min-width: 1226px;
    /*PC网页最小的宽度*/
    color: #666;
    /* background: #f5f6f7; */
    -webkit-text-size-adjust: 100%;
    /*解决Iphone下橱窗字体变大问题*/
}

/********************* a标签 *********************/
a {
    text-decoration: none;
    color: inherit;
}

a:link {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /*禁止链接高亮*/
    -webkit-touch-callout: none;
    /*禁止链接长按弹出选项菜单*/
}

a:link,
a:visited,
a:hover,
a:active {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: rgb(204, 16, 15);
}

/********************* a标签 *********************/

img {
    display: block;
    border: none;
}

ol,
ul,
li {
    list-style: none;
}

input,
textarea {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    box-shadow: none;
    appearance: none;
    /*去除input默认样式*/
}

table {
    border-collapse: collapse;
    /*为表格设置合并边框模型*/
}

/************共用样式***********/

/*zoom:1让IE6的元素可以清除浮动来包裹内部元素*/
.clearfix {
    zoom: 1;
}

/*清除盒子浮动*/
.clearfix:after {
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

/***************共用背景(精灵图)**********/

.web-icon {
    background-image: url(../images/icon.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.ico {
    width: 15px;
    height: 16px;
    background-position: 3px 5px;
    position: relative;
    top: 3px;
}