.content-news {
    margin-top: 30px;
}

.content-news ul {
    line-height: 39px;
    font-size: 14px;
}

.content-news ul li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted #ccc;
}