.content-new {
    margin-top: 30px;
}

.content-new h2 {
    font-size: 18px;
    font-weight: normal;
    color: #000;
    text-align: center;
}

.time {
    text-align: right;
    line-height: 30px;
    margin: 20px 0;
}

.content-new p{
    height: 26px;
    font-size: 14px;
    line-height: 26px;
    margin: 20px 0;
    text-indent:2em;
}